{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "no-invalid-position-at-import-rule": null,
    "indentation": 4,
    "string-quotes": "single",
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "selector-class-pattern": null,
    "max-line-length": 160
  },
  "defaultSeverity": "error"
}