/* import bootstrap to set changes */
@import '../node_modules/@ais-gorod/react-ui/dist/style/scss/ais-ui.scss';

#flexContainer {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
